@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-oklch: oklch(0% 0 0);
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-oklch: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: oklch(var(--foreground-oklch));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .border-light {
    border-color: #e5e7eb;
  }
  .border-dark {
    border-color: oklch(25.3267% 0.015896 252.417568);
  }
}

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .border,
  .border-t,
  .border-l,
  .border-b,
  .border-r {
    @apply border-light dark:border-dark;
  }
  .label {
    padding-top: 0 !important;
  }
  .divider.divider-horizontal:after,
  .divider.divider-horizontal:before {
    width: 1px;
  }
}
